.book-button {
  background-color: var(--bg-dark);
  color: var(--primary-light);
  font-family: Avenir;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.165px;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.book-button:hover {
  background-color: var(--text-focus);
}

.book-button-orange {
  background-color: var(--btn-bg);
  color: var(--btn-primary);
  font-family: Avenir;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.165px;
  border: none;
  padding: 12px 28px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 10px;
  margin-top: 20px;
}

.book-button-orange:hover {
  background-color: var(--accent);
}
