@import '../../_variables.css';

.site-header {
  background-color: var(--bg-light); 
  color: var(--text-primary); 
  display: flex; 
  align-items: center; 
  justify-content: start; 
  padding-left: 120px;
  width: 100%; 
  height: 75px;
  position: fixed; 
  z-index: 1000;
  transition: background-color 0.3s ease;

  &.scrolled {
    background-color: var(--bg-dark);
    color: var(--bg-white);
    
    & nav ul li a {
      color: var(--bg-white);
    }
    
    .language-switcher button {
      color: var(--bg-white);
      & .language-icon {
        filter: brightness(0) invert(1);
      }
    }
  }

  & nav {
    & ul {
      list-style: none;
      display: flex;
      padding-inline-start: 20px;
      & li {
        margin: 0px 16px;
        width: 70px;
        & a {
          color: var(--text-primary);
          text-decoration: none;
          transition: color 0.3s;
          font-size: 16px;
          font-family: Avenir;
          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .reserve-button {
    position: fixed;
    right: 150px;
  }
}

.language-switcher {
  padding: 5px 10px;
  cursor: pointer;
  position: static;
  margin-left: 275px;
  & button {
    background: none;
    border: none;
    color: var(--text-primary);
    text-decoration: underline;
    padding: 5px 10px;
    display: flex;
    & .language-icon {
      padding-right: 5px;
    }
  }
}

.logo {
  size: 40px;
}

@media only screen and (max-width: 600px) {
  .site-header {
    padding: 0 10px; /* Reduced padding */
  }

  .logo {
    height: 40px; /* Reduced logo size */
    margin-right: 10px; /* Reduced margin */
  }

  .site-header nav ul li {
    margin: 0 5px; /* Reduced margin between nav items */
  }

  .site-header nav ul li a {
    font-size: 16px; /* Slightly smaller font size */
  }

  .language-switcher {
    margin-right: 10px; /* Reduced margin for language switcher */
  }

  .language-switcher button {
    padding: 3px 6px; /* Smaller padding for the button */
    font-size: 0.8rem; /* Smaller font size */
  }
}
