.services-page {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
  color: var(--text-primary);
  opacity: 0; /* Set initial opacity to 0 for fade-in effect */
  animation: fadeIn 1.5s ease forwards; /* Apply fade-in animation */
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  & > h2 {
    margin-top: 80px;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.165px;
  }

  & .filter-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 40px;
    justify-content: flex-start;

    & .filter-button {
      color: var(--filter-text);
      font-family: Avenir;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      padding: 8px 12px;
      border: 1px solid var(--filter-border);
      background: transparent;
      border-radius: 100px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: rgba(101, 150, 130, 0.1);
      }

      &.active {
        background: var(--filter-bg);
      }
    }
  }

}

/* Services Grid */
.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  align-items: start; /* Align items at top to allow different heights */
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: 1fr;
  }

  .filter-buttons {
    gap: 8px;
  }

  .filter-button {
    padding: 6px 12px;
    font-size: 14px;
  }
}
