@import '../../_variables.css';


.reserve-button {
    background-color: var(--bg-dark);
    color: var(--primary-light);
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.165px;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease;
    
    &:hover {
        background-color: var(--btn-hover-green);
    }
  }
  

  
  .reserve-button-orange {

    display: inline-flex;
    padding: 10px 26px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    border: none;
    background-color: var(--btn-bg);
    color: var(--btn-primary);
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.165px;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: var(--accent);
    }
  }

  @media only screen and (max-width: 768px) {
    .reserve-button {
      display: inline-flex;
      height: 36px;
      padding: 10px 16px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      border-radius: 6px;
      font-size: 16px;
    }
    .reserve-button-orange {
      display: inline-flex;
      height: 36px;
      padding: 10px 16px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      border-radius: 6px;
      font-size: 16px;
    }
  }
  