.about-page {
  font-family: Avenir;
  line-height: 1.6;
  color: var(--text-primary);
  padding: 20px;
  max-width: 1000px;
  margin: 20px auto;
  margin-top: 0%;
  background: var(--bg-light);


  & session {
    text-align: left;
  }

  & h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.165px;
  }

  & h3 {
    color: var(--text-focus);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.165px;
  }

  & p {
    color: var(--text-secondary);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.165px;
  }

  & a {
    color: var(--text-focus);
  }

}

.about-page-mission {
  display: block;
  margin-top: 115px;
}

.about-page-our-team {
  display: block;
  margin-top: 60px;
}

.about-page-follow-us {
  display: block;
  margin-top: 60px;
}


@media only screen and (max-width: 480px) {
  .about-page {
    width: 100%;
    & h2 {
      font-size: 18px;
    }
    & p {
      font-size: 14px;
    }

    & .about-page-mission {
      width: 90%;
      display: block;
      margin-top: 60px;
    }

    & .about-page-our-team {
      width: 90%;
      display: block;
      margin-top: 40px;
    }
    
    & .about-page-follow-us {
      width: 90%;
      display: block;
      margin-top: 40px;
    }
  }
}
  