/* AboutPage.css */

/* General Styles */
.about-page {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}
.about-page h1:before {
  content: '';
  width: 100%;
  height: 1em;
  display: inline-block;
  background: rgb(255, 255, 255); /* Remove, just showing empty line */
}
.about-page h1, .about-page h2, .about-page h3 {
  text-align: center;
  
}

/* Section Styling */
section {
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 8px;
}

/* Different Color Themes for Each Section */
section:nth-child(1) {
  background-color: #f0e6f6;
}

section:nth-child(2) {
  background-color: #e8f0f6;
}

section:nth-child(3) {
  background-color: #f6f0e6;
}

/* Price List Section Specific Style */
.price-list-section {
  background-color: #e6f9f0;
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table, th, td {
  border: 1px solid #ddd;
}

td, th {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Animation Effects */
section {
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Hover Effects on Table Rows */
tr:hover {
  background-color: #f5f5f5;
}

/* Responsive Design */
/* Responsive Design */
@media (max-width: 600px) {
  .about-page {
    padding: 10px;
  }

  table {
    width: 100%;
    border: 0;
  }

  thead {
    display: none;
  }

  tbody, th, td, tr {
    width: 100%;
    display: block;
    border: 0;
  }

  tr {
    margin-bottom: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 10px;
  }

  td {
    text-align: center; /* Center the text */
    padding: 10px;
    border-bottom: 0; /* Remove the table lines */
    position: relative;
    padding-left: 0; /* Remove left padding */
    
  }

  td:before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    top: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #555;
    display: none; /* Hide the label */
  }

  td:last-child {
    border-bottom: 0;
  }
}

